{% extends 'main/load.html' %}

{% block title %}Денежный трекер{% endblock %}


{% block content %}
<div style="background: rgb(120 118 116); height: 300px  ">
<header>
    <div class="features"></div>
    <h1>Денежный трекер</h1>
</header>

</div>

    <script>

        function togglePopup() {
            var popup = document.getElementById("popup");
            popup.style.display = (popup.style.display === "none") ? "block" : "none";
        }
    </script>
</body>


</div>
{% endblock %}