<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация аккаунта</title>
    <link rel="stylesheet" href="style.css">

</head>
<body>
    <form style="margin: auto;">
    <div class="container">
        <h1 style="font-family: arial black; padding-top: 5px;">Регистрация</h1>
        
        <label style="margin-top:10px ; margin-bottom: 10px;" for="use"><b>Логин:</b></label>
        <input type="text" placeholder="Введите логин"/>
         
        <label style="margin-top:10px ; margin-bottom: 10px;" for="email"><b>Почта:</b></label>
        <input type="text" placeholder="Введите почту"/>

        <label style="margin-top: 10px; margin-bottom: 10px;" for="password"><b>Пароль:</b></label>
        <input type="text" placeholder="Введите пароль"/>
        
        <label style="margin-top: 10px; margin-bottom: 10px;" for="email"><b>Повторите пароль:</b></label>
        <input type="text"placeholder="Повторите пароль"/>

    </div>
    
        <Button><a href="">Зарегистрироваться</a></Button>
        
        <p style="padding-bottom: 40px;">Уже есть аккаунт? <a href="file:///C:/Users/Asus/Desktop/Visual%20Code/Индивидуальный%20проект%2010%20класс/Вход.html">Войти</a></p>
    
    </form>
    
    
</body>
</html>