{% extends 'main/load.html' %}

{% block title %}{% endblock %}


{% block content %}



<div>
<section style="width:50%; height: 200px;margin-top: 50px"class="blocks">
<h1  style="margin-left: 100px; margin-top:10px; font-size: 50px"><b>Moneytracer</b></h1>
    <p style="margin-left:100px; font-size: 25px;" > В электронном виде составляет отчеты по вашим расходам, наши основные цели в помощи пользователю</p>
</section>
<section style="margin-top: 20px; float: right;"class="blocks">
    <img style="height:200px; width:220px; margin-right:200px; margin-top: 32px"src="https://sun6-23.userapi.com/s/v1/ig2/H8VdeY53c3oCSvKMkZ7-vQZWjTc_CBiQ-e6DU-HQVWXgnnv4Fn4Ere0l0TM92LzRyN_ECvah73pnI0uT4L10J0h_.jpg?size=659x659&quality=96&crop=182,3,659,659&ava=1">
</section>
    </div>

<form style="padding-top: 60px; padding-left: 10px; padding-right: 10px; "class="row; width:100%">
    <div style="padding-left: 10px"class="column">
        <h1>1.</h1>
        <p>Экономии средств — когда нормального по региону дохода не хватает на какие-либо цели.</p>
    </div>

 <div style="padding-left: 10px" class="column">
        <h1>2.</h1>
        <p>Минимизации трат на товары и услуги, без которых семья может обойтись.</p>
    </div>



    <div style="padding-left: 10px" class="column">
        <h1>3.</h1>
        <p>Накопления определенной суммы для совершения важной покупки.</p>
    </div>

</form>


{% endblock %}