<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="icon" href="">
    <title>Вход</title>
</head>
<body>
   
    <form style="margin: auto; ">
        <div class="container">
            <h1 style="font-family: arial black; padding-top: 5px;">Войти</h1>
            
            <label style="margin-top:10px ; margin-bottom: 10px;" for="username"><b>Логин:</b></label>
            <input type="text" placeholder="Введите логин"/>
             
            <label style="margin-top:10px ; margin-bottom: 10px;" for="email"><b>Почта:</b></label>
            <input type="text" placeholder="Введите почту"/>
    
            <label style="margin-top: 10px; margin-bottom: 10px;" for="password"><b>Пароль:</b></label>
            <input type="text" placeholder="Введите пароль"/>
            
    
        </div>
        
            <Button><a href="">Войти</a></Button>
            
            <p style="padding-bottom: 40px;">Нет аккаунта? <a href="">Зарегистрируйтесь</a></p>
        
        </form>
        
        
    
</body>
</html>